body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  color: #ffffff;
  font-size: 16pt; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    color: #000000;
    font-weight: bold;
    font-family: "Montserrat", sans-serif; }
  body h1 {
    font-size: 28pt; }
  body p {
    color: #787878;
    font-size: 14pt; }
  body a:hover {
    text-decoration: none; }

.header-opacity {
  position: absolute;
  width: 100%;
  height: 670px;
  background: rgba(255, 255, 255, 0.8);
  z-index: 2;
  top: 0;
  left: 0; }

header {
  height: 670px;
  background-color: #e9e9e9;
  background-image: url("../img/design-header-phone.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  background-position: bottom;
  position: relative; }
  header .layer {
    z-index: 3;
    position: relative; }
  header .nav-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 31px; }
    header .nav-container-wrapper {
      padding-top: 38px; }
  header nav {
    font-size: 10pt;
    font-stretch: ultra-expanded;
    font-weight: bold; }
    header nav ul.nav-list {
      list-style: none;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-content: center;
          -ms-flex-line-pack: center;
              align-content: center;
      margin: 0;
      letter-spacing: 1px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      -webkit-transition: all 0.35s easy;
      -o-transition: all 0.35s easy;
      transition: all 0.35s easy; }
      header nav ul.nav-list li {
        padding: 0 18px; }
        header nav ul.nav-list li a {
          color: #4d4d4d;
          text-transform: uppercase;
          display: block;
          position: relative;
          top: 50%;
          -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
                  transform: translateY(-50%); }
          header nav ul.nav-list li a:before, header nav ul.nav-list li a:after {
            height: 24px;
            width: 14px;
            position: absolute;
            content: '';
            -webkit-transition: all 0.35s ease-in-out;
            -o-transition: all 0.35s ease-in-out;
            transition: all 0.35s ease-in-out;
            opacity: 0;
            margin: -8px; }
          header nav ul.nav-list li a:before {
            left: 0;
            right: 0;
            border-left: 3px solid #10c9c3;
            border-top: 3px solid #10c9c3;
            -webkit-transform: translate(100%, 50%);
                -ms-transform: translate(100%, 50%);
                    transform: translate(100%, 50%); }
          header nav ul.nav-list li a:after {
            right: 0;
            bottom: 0;
            border-right: 3px solid #10c9c3;
            border-bottom: 3px solid #10c9c3;
            -webkit-transform: translate(-100%, -50%);
                -ms-transform: translate(-100%, -50%);
                    transform: translate(-100%, -50%); }
          header nav ul.nav-list li a:hover {
            color: #262626; }
            header nav ul.nav-list li a:hover:before, header nav ul.nav-list li a:hover:after {
              -webkit-transform: translate(0%, 0%);
                  -ms-transform: translate(0%, 0%);
                      transform: translate(0%, 0%);
              opacity: 1; }
      header nav ul.nav-list .nav-list-current a {
        color: #000000; }
        header nav ul.nav-list .nav-list-current a:before, header nav ul.nav-list .nav-list-current a:after {
          -webkit-transform: translate(0%, 0%);
              -ms-transform: translate(0%, 0%);
                  transform: translate(0%, 0%);
          opacity: 1; }
    header nav #hamburger-menu-input {
      display: none; }
    header nav span {
      display: none; }
    @media screen and (max-width: 864px) {
      header nav {
        width: 30px;
        margin-top: 5px; }
        header nav ul.nav-list {
          display: none; }
        header nav #hamburger-menu-input {
          opacity: 0;
          width: 30px;
          height: 30px;
          display: block;
          position: absolute;
          right: 15px;
          top: 40px;
          z-index: 2; }
          header nav #hamburger-menu-input:hover {
            cursor: pointer; }
          header nav #hamburger-menu-input:checked ~ span {
            opacity: 1;
            -webkit-transform: rotate(45deg) translate(-2px, -1px);
                -ms-transform: rotate(45deg) translate(-2px, -1px);
                    transform: rotate(45deg) translate(-2px, -1px);
            background: #232323; }
        header nav span {
          display: inline-block;
          position: relative;
          border-bottom: 2px solid #000000;
          width: 30px;
          height: 2px;
          margin-bottom: 10px;
          z-index: 1;
          -webkit-transform-origin: 4px 0;
              -ms-transform-origin: 4px 0;
                  transform-origin: 4px 0;
          -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
          transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
          -o-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
          transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
          transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
          -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
          -o-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
          transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); } }
  header .content-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    header .content-container .content {
      height: 607px;
      width: 510px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding-right: 10px; }
      header .content-container .content p {
        margin-top: 25px; }
      header .content-container .content a.btn-contuct-us {
        margin-top: 30px;
        color: #ffffff;
        background: #10c9c3;
        padding: 18px 46px;
        width: 180px;
        font-stretch: ultra-expanded;
        font-size: 10pt;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        position: relative;
        -webkit-transition: all 0.35s ease;
        -o-transition: all 0.35s ease;
        transition: all 0.35s ease; }
        header .content-container .content a.btn-contuct-us:before, header .content-container .content a.btn-contuct-us:after {
          position: absolute;
          content: '';
          width: 100px;
          opacity: 0;
          -webkit-transition: all 0.35s ease-in-out;
          -o-transition: all 0.35s ease-in-out;
          transition: all 0.35s ease-in-out; }
        header .content-container .content a.btn-contuct-us:before {
          left: 0;
          bottom: 0;
          border-bottom: 2px solid #000000;
          -webkit-transform: translate(-100%, 0);
              -ms-transform: translate(-100%, 0);
                  transform: translate(-100%, 0); }
        header .content-container .content a.btn-contuct-us:before {
          top: 0;
          border-top: 2px solid #000000; }
        header .content-container .content a.btn-contuct-us:after {
          right: 0;
          bottom: 0;
          border-bottom: 2px solid #000000;
          -webkit-transform: translate(100%, 0);
              -ms-transform: translate(100%, 0);
                  transform: translate(100%, 0); }
        header .content-container .content a.btn-contuct-us:after {
          top: 0;
          border-top: 2px solid #000000; }
        header .content-container .content a.btn-contuct-us:hover {
          background: none;
          color: #4d4d4d; }
          header .content-container .content a.btn-contuct-us:hover:before, header .content-container .content a.btn-contuct-us:hover:after {
            -webkit-transform: translate(0%, 0%);
                -ms-transform: translate(0%, 0%);
                    transform: translate(0%, 0%);
            opacity: 1; }
