a.btn-contuct-us
    margin-top: 30px
    text-transform: 
    color: $white
    background: $turquoise
    padding: 18px 46px
    width: 180px
    font-stretch: ultra-expanded
    font-size: 10pt
    text-align: center
    text-transform: uppercase
    font-weight: bold
    position: relative
    transition: all 0.35s ease
    &:before, &:after
        position: absolute
        content: ''
        width: 100px
        opacity: 0
        transition: all 0.35s ease-in-out
    &:before
        left: 0
        bottom: 0
        border-bottom: 2px solid $black
        transform: translate(-100%, 0)
    &:before
        top: 0
        border-top: 2px solid $black
    &:after
        right: 0
        bottom: 0
        border-bottom: 2px solid $black
        transform: translate(100%, 0)
    &:after
        top: 0
        border-top: 2px solid $black
    &:hover
        background: none
        color: lighten($black, 30%)
        &:before, &:after
            transform: translate(0%, 0%)
            opacity: 1