body
    box-sizing: border-box
    font-family: $nunito
    color: #ffffff
    font-size: 16pt
    h1, h2, h3, h4, h5, h6
        color: $black
        font-weight: bold
        font-family: $monserrat
    h1
        font-size: 28pt
    p
        color: $p-grey
        font-size: 14pt
    a
        &:hover
            text-decoration: none