.header-opacity
    position: absolute
    width: 100%
    height: 670px
    background: rgba(255, 255, 255, 0.8)
    z-index: 2
    top: 0
    left: 0
header
    height: 670px
    background-color: $bg-header-gray
    background-image: url('../img/design-header-phone.jpg')
    background-size: cover
    background-position: bottom
    position: relative
    .layer
        z-index: 3
        position: relative

    // Navigation and logo
    @import "app/sass/nav"

    .content-container
        display: flex
        justify-content: flex-end
        .content
            height: 607px
            width: 510px
            display: flex
            flex-direction: column
            justify-content: center
            padding-right: 10px
            p
                margin-top: 25px
        
            // Contuct Us button
            @import "app/sass/contact-us-button"