.nav-container
    display: flex
    justify-content: space-between
    height: 31px
    &-wrapper
        padding-top: 38px
nav
    font-size: 10pt
    font-stretch: ultra-expanded
    font-weight: bold
    ul.nav-list
        list-style: none
        display: flex
        align-content: center
        margin: 0
        letter-spacing: 1px
        box-sizing: border-box
        transition: all 0.35s easy
        li
            padding: 0 18px
            // &:before
            //     content: ""
            //     display: inline-block
            //     height: 100%
            //     vertical-align: middle
            a
                color: lighten($black, 30%)
                text-transform: uppercase
                display: block
                position: relative
                top: 50%
                transform: translateY(-50%)
                &:before, &:after
                    height: 24px
                    width: 14px
                    position: absolute
                    content: ''
                    transition: all 0.35s ease-in-out
                    opacity: 0
                    margin: -8px
                &:before
                    left: 0
                    right: 0
                    border-left: 3px solid $turquoise
                    border-top: 3px solid $turquoise
                    // border-bottom: 3px solid $turquoise
                    transform: translate(100%, 50%)
                &:after
                    right: 0
                    bottom: 0
                    border-right: 3px solid $turquoise
                    border-bottom: 3px solid $turquoise
                    // border-top: 3px solid $turquoise
                    transform: translate(-100%, -50%)
                &:hover
                    color: lighten($black, 15%)
                    &:before, &:after
                        transform: translate(0%, 0%)
                        opacity: 1
        .nav-list-current a
            color: $black
            &:before, &:after
                transform: translate(0%, 0%)
                opacity: 1
    #hamburger-menu-input
        display: none
    span
        display: none

    @media screen and (max-width: 864px)
        width: 30px
        margin-top: 5px
        ul.nav-list
            display: none
        #hamburger-menu-input
            opacity: 0
            width: 30px
            height: 30px
            display: block
            position: absolute
            right: 15px
            top: 40px
            z-index: 2
            &:hover
                cursor: pointer
            &:checked ~ span
                opacity: 1
                transform: rotate(45deg) translate(-2px, -1px)
                background: #232323
        span
            display: inline-block
            position: relative
            border-bottom: 2px solid $black
            width: 30px
            height: 2px
            margin-bottom: 10px
            z-index: 1
            transform-origin: 4px 0
            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0)
            transition: background 0.5s cubic-bezier(0.77,0.2,0.05,1.0)
            // transition: opacity 0.55s ease
                &:first-child
                    transform-origin: 0% 0%
                &:nth-last-child(2)
                    transform-origin: 0% 100%